{{ object.depends() | join("\n") | sort_imports }}


class {{ object.name | pascalize }}(pydantic.BaseModel):
    """
    {{ object.description | unmarkdown | wrapped }}
    {% for property in object.properties -%}
    :param {{ property.name }}: {{ property.description | unmarkdown | wrapped }}
    {% endfor -%}
    """
    {% if object.properties %}
    {% for property in object.properties -%}
    {{ property.render() }}
    {% endfor %}
    {% else -%}
    pass
    {% endif %}